<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Le Fameux Profile</title>
</head>
<body>

    <h1>Les intervenants sont :</h1>
    {% for key in agents|keys %}
        {% if agents[key].published %}
            <ul>
                <li>
                    <span>
                        {{ agents[key].firstName }}
                        {{ agents[key].lastName }}
                        {{ agents[key].age }}
                     </span>
                </li>
            </ul>
        {% endif %}
    {% endfor %}


</body>
</html>