<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Le Fameux Profile</title>
</head>
<body>

    <h1>Les intervenants sont :</h1>
        {% for agent in agents %}
        {% if agent.published %}
            <ul>
                <li>
                    <span>
                        {{ agent.firstName }}
                        {{ agent.lastName }}
                        {{ agent.age }}
                     </span>
                </li>
            </ul>
        {% endif %}
    {% endfor %}


</body>
</html>